<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <% sceneList.forEach(scene => { %>
        
    <% }) %>
    <h1> Scene List </h1>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">name</th>
            <th scope="col">content</th>
          </tr>
        </thead>
        <tbody>
            <% sceneList.forEach(scene => { %>
                <tr>
                  <th scope="row"><%= scene.id %></th>
                  <td><%= scene.name %></td>
                  <td><%= scene.content %></td>
                  <td><%= scene._id %></td>
                </tr>          
        
            <% }) %>
        </tbody>
      </table>
    
</body>
</html>